body {
    font-family: 'Roboto', sans-serif;
    color: black;
    max-width: 1920px;
    margin: 0;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    margin: 0 300px;
}

// Скрываем пока что бургер меню
.burger {
    display: none;
}


.header {
    margin: 25px 90px;
    width: 100%;
    max-width: 1770px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 40px;
        }
        .nav {
            font-size: 16px;
            margin-left: 200px;
            .nav__link {
                font-family: 'Roboto', sans-serif;
                margin: 0 20px;
                color: #FFFFFF;
                text-decoration: none;
                opacity: .8;
                
            }
        }
        .login {
            width: 183px;
            height: 44px;
            border-radius: 50px;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
            outline: none;
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            &:hover {
                background: linear-gradient(94.26deg, #905fc9 9.51%, #4734c2 90.23%);
            }
        }
    }
}


.intro {
    width: 100%;
    height: 883px;
    background: url(../images/main-screen__bgc.png);
    background-size: cover;
    padding-top: 100px;
   
    .intro__inner {
        color: #FFFFFF;
        width: 100%;
        max-height: 360px;
        padding: 200px 300px;
        

        h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 89px;
            width: 100%;
        }
        
        .intro__box {
            display: flex;
           
            .box__second:first-child {
                margin-left: 0;
            }

            .box__second:last-child {
                margin-right: 0;
            }

            .box__second {
                padding: 25px 40px 15px 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px;
                background: #121212;
                span {
                    font-size: 36px;
                    font-weight: 700;
                }
                
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 24px;
                    opacity: .6;
                }
            }

        }
    }
}



.intro__footer {
    background: #121212;
    width: 100%;
    .container {
        margin: 0 300px;
        .intro__footer__inner {
            color: white;
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .order {
                color: white;
                width: 169px;
                height: 44px;
                border:  none;
                border-radius: 50px;
                background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
            }
            .students {
                width: 251px;
                height: 58px;
                .statistics {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0;
                    color: grey;
                    .number {
                        color: white;
                    }
                    .number2 {
                        color: white;
                    }
                }
            }
            .results {
                width: 714px;
                height: 67px;
                color: grey;
                .results__count {
                    color: white;
                    padding-left: 30px;
                }
                p {
                    margin-top: 0;
                }

                .count {
                    display: flex;
                    justify-content: space-between;
                    border-top: 6px solid white;
                    padding-top: 10px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 440px;
                        height: 6px;
                        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
                        left: 0;
                        top: -6px;
                    }
                }
            }
        }
    }
}


.about {
    width: 100%;
    background: #000000;
    height: 1000px;
    .container {
        padding-top: 300px;
        .about__inner {
            display: flex;
            justify-content: space-between;
            color: white;
            width: 100%;
            max-width: 1320px;
            height: 580px;
            .square {
                position: relative;
                width: 500px;
                height: 520px;
                border: 30px solid #C89AFC;
                img {
                    width: 426px;
                    height: auto;
                    position: absolute;
                    top: 25%;
                    left: 10px;
                    z-index: 2;

                }
                
            }

            .about__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 630px;
                height: 340px;
                h2 {
                    font-size: 48px;
                    font-weight: 700;
                    margin-bottom: 70px;
                }
                .about__text {
                    line-height: 1.4;
                    font-size: 16px;
                }
                
            }
            
            
        }
    }
}