body {
    font-family: 'Roboto', sans-serif;
    color: black;
    max-width: 1920px;
    margin: 0;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    margin: 0 300px;
}

// Скрываем пока что бургер меню
.burger {
    display: none;
}


.header {
    margin: 25px 90px;
    width: 100%;
    max-width: 1770px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 40px;
        }
        .nav {
            font-size: 16px;
            margin-left: 200px;
            .nav__link {
                font-family: 'Roboto', sans-serif;
                margin: 0 20px;
                color: #FFFFFF;
                text-decoration: none;
                opacity: .8;
                
            }
        }
        .login {
            width: 183px;
            height: 44px;
            border-radius: 50px;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
            outline: none;
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            &:hover {
                background: linear-gradient(94.26deg, #905fc9 9.51%, #4734c2 90.23%);
            }
        }
    }
}


.intro {
    width: 100%;
    height: 883px;
    background: url(../images/main-screen__bgc.png);
    background-size: cover;
    padding-top: 100px;
   
    .intro__inner {
        color: #FFFFFF;
        width: 100%;
        max-height: 360px;
        padding: 200px 300px;
        

        h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 89px;
            width: 100%;
        }
        
        .intro__box {
            display: flex;
           
            .box__second:first-child {
                margin-left: 0;
            }

            .box__second:last-child {
                margin-right: 0;
            }

            .box__second {
                padding: 25px 40px 15px 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px;
                background: #121212;
                span {
                    font-size: 36px;
                    font-weight: 700;
                }
                
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 24px;
                    opacity: .6;
                }
            }

        }
    }
}



.intro__footer {
    background: #121212;
    width: 100%;
    .container {
        margin: 0 300px;
        .intro__footer__inner {
            color: white;
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .order {
                color: white;
                width: 169px;
                height: 44px;
                border:  none;
                border-radius: 50px;
                background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
            }
            .students {
                width: 251px;
                height: 58px;
                .statistics {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0;
                    color: grey;
                    .number {
                        color: white;
                    }
                    .number2 {
                        color: white;
                    }
                }
            }
            .results {
                width: 714px;
                height: 67px;
                color: grey;
                .results__count {
                    color: white;
                    padding-left: 30px;
                }
                p {
                    margin-top: 0;
                }

                .count {
                    display: flex;
                    justify-content: space-between;
                    border-top: 6px solid white;
                    padding-top: 10px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 440px;
                        height: 6px;
                        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
                        left: 0;
                        top: -6px;
                    }
                }
            }
        }
    }
}


.about {
    width: 100%;
    background: #000000;
    height: 1000px;
    .container {
        padding-top: 250px;
        .about__inner {
            display: flex;
            justify-content: space-between;
            color: white;
            width: 100%;
            max-width: 1320px;
            height: 580px;
            .square {
                position: relative;
                width: 500px;
                height: 520px;
                border: 30px solid #C89AFC;
                img {
                    width: 426px;
                    height: auto;
                    position: absolute;
                    top: 25%;
                    left: 10px;
                    z-index: 2;

                }
                
            }

            .about__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 630px;
                height: 340px;
                h2 {
                    font-size: 48px;
                    font-weight: 700;
                    margin-bottom: 70px;
                }
                .about__text {
                    line-height: 1.4;
                    font-size: 16px;
                }
                
            }
            
            
        }
    }
}


.quick__start {
    width: 100%;
    height: 1000px;
    background: #000000;
    .container {  
        padding-top: 250px;
        .quick__start__inner {
            color: white;
            display: flex;
            flex-direction: column;
            .quick {
                display: flex;
                align-items: center;

                span {
                    margin-left: 20px;
                    font-size: 48px;
                    font-weight: 700;
                }
            }
            .quick__text {
                color: grey;
                font-size: 16px;
                width: 450px;
                margin-top: 30px;
            }

            .quick__info {
                width: 100%;
                height: 100%;
                margin-top: 50px;
                display: flex;
                
                
               
                .quick__item {
                    width: 25%; 
                    height: 263px;
                    position: relative;
                    
                    
                                 
                    .quick__percent {
                        
                        font-weight: 700;
                        font-size: 46px;
                        margin-bottom: 20px;
                    }

                    .quick__bg1 {
                        
                        margin-bottom: 20px;
                        height: 80px;
                        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
                    }

                    .quick__bg2 {
                        position: relative;
                        top: 10px;
                        height: 60px;
                        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
                    }

                    .quick__bg3 {
                        position: relative;
                        top: 25px;
                        height: 30px;
                        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
                    }

                    .quick__bg4 {
                        position: relative;
                        top: 35px;
                        height: 10px;
                        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
                    }

                    .quick__text2 {
                        font-size: 14px;
                        margin-bottom: 20px;
                        line-height: 1.2;
                        width: 90%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: grey;
                    }

                }
            }
        }
    }
}


.features {
    width: 100%;
    height: 1000px;
    background: #000000;
    .container {
        color: white;
        padding-top: 250px;
        .features__title {
            font-size: 44px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 100px;
        }

        .features__inner {
            width: 100%;
            color: white;
            display: flex;
            .features__item {
                width: 33%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 30px;
                height: 346px;

                .features__icon {
                    margin-bottom: 20px;

                }

                .features__subtitle {
                    font-size: 24px;
                    margin-bottom: 20px;
                    text-align: center;
                    
                    
                }

                .features__text {
                    font-size: 16px;
                    margin-bottom: 20px;
                    color: grey;
                    width: 360px;
                    text-align: center;
                }
                

            }
        }
    }
}


.partners {
    width: 100%;
    height: 1000px;
    background: #000000;
    .container {
        padding-top: 250px;
        .partners__inner {
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            .partners_header {
                display: flex;
                align-items: center;
                .partners__title {
                    font-size: 46px;
                    font-weight: 700;
                }
            }

            .partners__social {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;
                .partner__item {
                    width: 25%;
                    position: relative;
                    height: 120px;
                    border-right: 1px solid grey;
                    border-bottom: 1px solid grey;
                    img {
                        position: absolute;
                        left: 60px;
                        top: 10px;
                    }
                }

                .partner__item:nth-child(4) {
                    border-right: 0;
                }
                .partner__item:nth-child(8) {
                    border: 0;
                }
                .partner__item:nth-child(5) {
                    border-bottom: 0;
                }
                .partner__item:nth-child(6) {
                    border-bottom: 0;
                }
                .partner__item:nth-child(7) {
                    border-bottom: 0;
                }
            }
        }
    }
}


.raspisanie {
    width: 100%;
    height: 1600px;
    background: #000000;
    .raspisanie__container {
        width: 750px;
        height: 1323px;
        margin: 0 auto;
        padding-top: 200px;
        .raspisanie__inner {
            color: white;
            .raspisanie__header {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 127px;
                }

                .raspisanie__title {
                    font-size: 44px;
                    font-weight: 700;
                }

                .raspisanie__subtitle {
                    font-size: 16px;
                    color: grey;
                    text-align: center;
                }
            }
            .raspisanie__tree {
                width: 100%;
                height: 900px;
                color: white;
                display: flex;
                justify-content: space-between;
                margin-top: 60px;
                .first__4__weeks {
                    padding-right: 120px;
                    border-right: 6px solid #C89AFC;
                    .week__item {
                        text-align: right;
                        margin: 100px 0;
                        .week__subtitle {
                            color: grey;
                            font-size: 16px;
                        }

                        .week__border {
                            display: flex;
                            justify-content: space-between;

                            .border__right {
                                border-right: 1px solid grey;
                                transform-origin: 100% 0;
                                transform: rotate(270deg);
                                position: relative;
                                left: 40px;
                                top: 25px;
                                
                                
                            }
                        }

                        .week__text {
                            font-weight: 400;
                            font-size: 20px;
                            margin: 15px 0;
                            
                        }

                        
                    }
                }

                .second_3_weeks {
                    padding-left: 115px;
                     margin-top: 105px;
                    .week__item2 {
                        margin: 100px 0;
                        .week__subtitle2 {
                            color: grey;
                            font-size: 16px;
                        }

                        .week__border2 {
                            display: flex;
                            justify-content: space-between;

                            .border__left2 {
                                border-left: 1px solid grey;
                                transform-origin: 100% 0;
                                transform: rotate(270deg);
                                position: relative;
                                right: 115px;
                                top: 25px;
                                
                                
                            }
                        }

                        .week__text2 {
                            font-weight: 400;
                            font-size: 20px;
                            margin: 15px 0;
                            
                        }
                    }
                    
                }
            }
        }

    }
}