body {
  font-family: 'Roboto', sans-serif;
  color: black;
  width: 100%;
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 300px;
}

.header {
  margin: 25px 90px;
  width: 100%;
  max-width: 1770px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .logo {
  width: 40px;
}

.header .header__inner .nav {
  font-size: 16px;
  margin-left: 90px;
}

.header .header__inner .nav .nav__link {
  font-family: 'Roboto', sans-serif;
  margin: 0 20px;
  color: #FFFFFF;
  text-decoration: none;
  opacity: .5;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.header .header__inner .nav .nav__link:hover {
  opacity: 1;
  text-decoration: underline;
}

.header .header__inner .login {
  width: 183px;
  height: 44px;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.header .header__inner .login:hover {
  background: linear-gradient(94.26deg, #905fc9 9.51%, #4734c2 90.23%);
}

.header .header__inner .burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
}

.header .header__inner .burger .burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  position: relative;
}

.header .header__inner .burger .burger__item:before,
.header .header__inner .burger .burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: white;
}

.header .header__inner .burger .burger__item:before {
  top: -8px;
}

.header .header__inner .burger .burger__item:after {
  bottom: -8px;
}

@media (max-width: 1860px) {
  .header {
    max-width: 1600px;
  }
}

@media (max-width: 1700px) {
  .header {
    max-width: 1400px;
  }
}

@media (max-width: 1534px) {
  .header {
    max-width: 1330px;
  }
}

@media (max-width: 1450px) {
  .header {
    margin: 30px 40px;
  }
  .header .header__inner {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 1366px) {
  .header {
    margin: 30px 0;
  }
  .header .header__inner {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 1250px) {
  .header {
    margin: 30px 0;
  }
  .header .header__inner {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header .header__inner .nav {
    margin-right: 30px;
  }
  .header .header__inner .nav .nav__link {
    margin: 0 10px;
  }
}

@media (max-width: 1200px) {
  .header {
    margin: 30px 0;
  }
  .header .header__inner {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header .header__inner .nav {
    font-size: 12px;
    margin-left: 60px;
  }
  .header .header__inner .nav .nav__link {
    margin: 0 7px;
  }
  .header .header__inner .login {
    width: 130px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 771px) {
  .header .header__inner .nav {
    display: none;
  }
  .header .header__inner .login {
    display: none;
  }
  .header .header__inner .burger {
    display: block;
  }
}

.intro {
  width: 100%;
  height: 883px;
  background: url(../images/main-screen__bgc.png) center no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.intro .intro__inner {
  color: #FFFFFF;
  width: 100%;
  max-height: 360px;
  padding: 80px 300px;
}

.intro .intro__inner h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 89px;
  width: 100%;
}

.intro .intro__inner .intro__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .intro__inner .intro__box .box__second:first-child {
  margin-left: 0;
}

.intro .intro__inner .intro__box .box__second:last-child {
  margin-right: 0;
}

.intro .intro__inner .intro__box .box__second {
  padding: 25px 35px 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  background: #121212;
}

.intro .intro__inner .intro__box .box__second span {
  font-size: 36px;
  font-weight: 700;
}

.intro .intro__inner .intro__box .box__second p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24px;
  opacity: .6;
}

@media (max-width: 1825px) {
  .intro .intro__inner h1 {
    font-size: 54px;
  }
  .intro .intro__inner .intro__box .box__second {
    padding: 20px 30px 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px;
    background: #121212;
  }
  .intro .intro__inner .intro__box .box__second span {
    font-size: 30px;
    font-weight: 700;
  }
  .intro .intro__inner .intro__box .box__second p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    opacity: .6;
  }
}

@media (max-width: 1610px) {
  .intro .intro__inner h1 {
    font-size: 45px;
  }
  .intro .intro__inner .intro__box .box__second {
    padding: 17px 25px 10px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 13px;
    background: #121212;
  }
  .intro .intro__inner .intro__box .box__second span {
    font-size: 25px;
    font-weight: 700;
  }
  .intro .intro__inner .intro__box .box__second p {
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 15px;
    opacity: .6;
  }
}

@media (max-width: 1380px) {
  .intro .intro__inner h1 {
    font-size: 36px;
  }
  .intro .intro__inner .intro__box .box__second {
    padding: 14px 20px 8px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 11px;
    background: #121212;
  }
  .intro .intro__inner .intro__box .box__second span {
    font-size: 20px;
    font-weight: 700;
  }
  .intro .intro__inner .intro__box .box__second p {
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 14px;
    opacity: .6;
  }
}

@media (max-width: 1120px) {
  .intro .intro__inner h1 {
    font-size: 25px;
    line-height: 2.4;
  }
  .intro .intro__inner .intro__box .box__second {
    padding: 12px 17px 7px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    background: #121212;
  }
  .intro .intro__inner .intro__box .box__second span {
    font-size: 17px;
    font-weight: 700;
  }
  .intro .intro__inner .intro__box .box__second p {
    font-size: 8px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 12px;
    opacity: .6;
  }
}

@media (max-width: 915px) {
  .intro .intro__inner {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .intro .intro__inner h1 {
    text-align: center;
    font-size: 25px;
    line-height: 2.4;
  }
  .intro .intro__inner .intro__box .box__second {
    padding: 12px 17px 7px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    background: #121212;
  }
  .intro .intro__inner .intro__box .box__second span {
    font-size: 17px;
    font-weight: 700;
  }
  .intro .intro__inner .intro__box .box__second p {
    font-size: 8px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 12px;
    opacity: .6;
  }
}

.intro__footer {
  background: #121212;
  width: 100%;
}

.intro__footer .container {
  margin: 0 300px;
}

.intro__footer .container .intro__footer__inner {
  color: white;
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__footer .container .intro__footer__inner .order {
  color: white;
  width: 169px;
  height: 44px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.intro__footer .container .intro__footer__inner .students {
  width: 251px;
  height: 58px;
}

.intro__footer .container .intro__footer__inner .students .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  color: grey;
}

.intro__footer .container .intro__footer__inner .students .statistics .number {
  color: white;
}

.intro__footer .container .intro__footer__inner .students .statistics .number2 {
  color: white;
}

.intro__footer .container .intro__footer__inner .results {
  width: 714px;
  height: 67px;
  color: grey;
}

.intro__footer .container .intro__footer__inner .results .results__count {
  color: white;
  padding-left: 30px;
}

.intro__footer .container .intro__footer__inner .results p {
  margin-top: 0;
}

.intro__footer .container .intro__footer__inner .results .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 6px solid white;
  padding-top: 10px;
  position: relative;
}

.intro__footer .container .intro__footer__inner .results .count:before {
  content: "";
  position: absolute;
  width: 440px;
  height: 6px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  left: 0;
  top: -6px;
}

.about {
  width: 100%;
  background: #000000;
  height: 1000px;
}

.about .container {
  padding-top: 250px;
}

.about .container .about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 100%;
  max-width: 1320px;
  height: 580px;
}

.about .container .about__inner .square {
  position: relative;
  width: 500px;
  height: 520px;
  border: 30px solid #C89AFC;
}

.about .container .about__inner .square img {
  width: 426px;
  height: auto;
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: 2;
}

.about .container .about__inner .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 630px;
  height: 340px;
}

.about .container .about__inner .about__info h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 70px;
}

.about .container .about__inner .about__info .about__text {
  line-height: 1.4;
  font-size: 16px;
}

.quick__start {
  width: 100%;
  height: 850px;
  background: #000000;
}

.quick__start .container {
  padding-top: 150px;
}

.quick__start .container .quick__start__inner {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quick__start .container .quick__start__inner .quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick__start .container .quick__start__inner .quick span {
  margin-left: 20px;
  font-size: 48px;
  font-weight: 700;
}

.quick__start .container .quick__start__inner .quick__text {
  color: grey;
  font-size: 16px;
  width: 450px;
  margin-top: 30px;
}

.quick__start .container .quick__start__inner .quick__info {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick__start .container .quick__start__inner .quick__info .quick__item {
  width: 25%;
  height: 280px;
  position: relative;
}

.quick__start .container .quick__start__inner .quick__info .quick__item .quick__percent {
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 20px;
}

.quick__start .container .quick__start__inner .quick__info .quick__item .quick__bg1 {
  margin-bottom: 20px;
  height: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.quick__start .container .quick__start__inner .quick__info .quick__item .quick__bg2 {
  position: relative;
  top: 10px;
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.quick__start .container .quick__start__inner .quick__info .quick__item .quick__bg3 {
  position: relative;
  top: 25px;
  height: 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.quick__start .container .quick__start__inner .quick__info .quick__item .quick__bg4 {
  position: relative;
  top: 35px;
  height: 10px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.quick__start .container .quick__start__inner .quick__info .quick__item .quick__text2 {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.2;
  width: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: grey;
}

.features {
  width: 100%;
  height: 880px;
  background: #000000;
}

.features .container {
  color: white;
  padding-top: 150px;
}

.features .container .features__title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.features .container .features__inner {
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .container .features__inner .features__item {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
  height: 346px;
}

.features .container .features__inner .features__item .features__icon {
  margin-bottom: 20px;
}

.features .container .features__inner .features__item .features__subtitle {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.features .container .features__inner .features__item .features__text {
  font-size: 16px;
  margin-bottom: 20px;
  color: grey;
  width: 360px;
  text-align: center;
}

.partners {
  width: 100%;
  height: 800px;
  background: #000000;
}

.partners .container {
  padding-top: 150px;
}

.partners .container .partners__inner {
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners .container .partners__inner .partners_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .container .partners__inner .partners_header .partners__title {
  font-size: 46px;
  font-weight: 700;
}

.partners .container .partners__inner .partners__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

.partners .container .partners__inner .partners__social .partner__item {
  width: 25%;
  position: relative;
  height: 120px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.partners .container .partners__inner .partners__social .partner__item img {
  position: absolute;
  left: 60px;
  top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.partners .container .partners__inner .partners__social .partner__item:nth-child(4) {
  border-right: 0;
}

.partners .container .partners__inner .partners__social .partner__item:nth-child(8) {
  border: 0;
}

.partners .container .partners__inner .partners__social .partner__item:nth-child(5) {
  border-bottom: 0;
}

.partners .container .partners__inner .partners__social .partner__item:nth-child(6) {
  border-bottom: 0;
}

.partners .container .partners__inner .partners__social .partner__item:nth-child(7) {
  border-bottom: 0;
}

.raspisanie {
  width: 100%;
  height: 1600px;
  background: #000000;
}

.raspisanie .raspisanie__container {
  width: 750px;
  height: 1323px;
  margin: 0 auto;
  padding-top: 100px;
}

.raspisanie .raspisanie__container .raspisanie__inner {
  color: white;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__header img {
  width: 127px;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__header .raspisanie__title {
  font-size: 44px;
  font-weight: 700;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__header .raspisanie__subtitle {
  font-size: 16px;
  color: grey;
  text-align: center;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree {
  width: 100%;
  height: 900px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .first__4__weeks {
  padding-right: 120px;
  border-right: 6px solid #C89AFC;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .first__4__weeks .week__item {
  text-align: right;
  margin: 100px 0;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .first__4__weeks .week__item .week__subtitle {
  color: grey;
  font-size: 16px;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .first__4__weeks .week__item .week__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .first__4__weeks .week__item .week__border .border__right {
  border-right: 1px solid grey;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: relative;
  left: 40px;
  top: 25px;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .first__4__weeks .week__item .week__text {
  font-weight: 400;
  font-size: 20px;
  margin: 15px 0;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .second_3_weeks {
  padding-left: 115px;
  margin-top: 105px;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .second_3_weeks .week__item2 {
  margin: 100px 0;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .second_3_weeks .week__item2 .week__subtitle2 {
  color: grey;
  font-size: 16px;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .second_3_weeks .week__item2 .week__border2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .second_3_weeks .week__item2 .week__border2 .border__left2 {
  border-left: 1px solid grey;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: relative;
  right: 115px;
  top: 25px;
}

.raspisanie .raspisanie__container .raspisanie__inner .raspisanie__tree .second_3_weeks .week__item2 .week__text2 {
  font-weight: 400;
  font-size: 20px;
  margin: 15px 0;
}

.teachers {
  width: 100%;
  height: 1000px;
  background: #000000;
}

.teachers .container {
  padding-top: 180px;
}

.teachers .container .teachers__inner {
  color: white;
}

.teachers .container .teachers__inner .teachers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teachers .container .teachers__inner .teachers__header .teachers__title {
  font-size: 46px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 30px;
  margin-bottom: 0;
}

.teachers .container .teachers__inner .teachers__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

.teachers .container .teachers__inner .teachers__info .teacher__item {
  width: 33.33333%;
  margin: 15px 30px;
  text-align: center;
}

.teachers .container .teachers__inner .teachers__info .teacher__item .teacher__photo {
  margin-bottom: 35px;
}

.teachers .container .teachers__inner .teachers__info .teacher__item .teacher__name {
  font-weight: 700;
  font-size: 24px;
}

.teachers .container .teachers__inner .teachers__info .teacher__item .teacher__special {
  font-size: 16px;
  color: grey;
  margin-bottom: 20px;
}

.teachers .container .teachers__inner .teachers__info .teacher__item .biography {
  background: #000000;
  color: white;
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.footer {
  background: #000000;
  width: 100%;
  height: 520px;
}

.footer .footer__container {
  width: 547px;
  height: 419px;
  padding-top: 50px;
  margin: 0 auto;
}

.footer .footer__container .footer__inner {
  color: white;
  text-align: center;
}

.footer .footer__container .footer__inner .footer__header {
  font-size: 46px;
  font-weight: 700;
}

.footer .footer__container .footer__inner .footer__text {
  font-size: 16px;
  color: grey;
  margin-bottom: 50px;
}

.footer .footer__container .footer__inner .footer__form {
  position: relative;
}

.footer .footer__container .footer__inner .footer__form .footer__email {
  background: #6d6b6b;
  color: black;
  opacity: .6;
  padding: 15px 30px;
  border-radius: 50px;
  width: 453px;
  height: 44px;
  border: 0;
}

.footer .footer__container .footer__inner .footer__form .footer__email::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
}

.footer .footer__container .footer__inner .footer__form .footer__email:-ms-input-placeholder {
  color: white;
  font-size: 14px;
}

.footer .footer__container .footer__inner .footer__form .footer__email::-ms-input-placeholder {
  color: white;
  font-size: 14px;
}

.footer .footer__container .footer__inner .footer__form .footer__email::placeholder {
  color: white;
  font-size: 14px;
}

.footer .footer__container .footer__inner .footer__form .footer__button {
  position: absolute;
  right: 45px;
  top: 1px;
  cursor: pointer;
  outline: none;
  padding: 14px 30px;
  border-radius: 50px;
  height: 43px;
  border: none;
  color: white;
  font-size: 16px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.footer .footer__container .footer__inner .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

.footer .footer__container .footer__inner .footer__social .circle {
  width: 50px;
  margin-right: 20px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.footer .footer__container .footer__inner .footer__social .circle .social__icon {
  position: relative;
  top: 13px;
}

.footer .footer__container .footer__inner .footer__social .circle:last-child {
  margin: 0;
}

.footer .footer__container .footer__inner .footer__author {
  font-size: 16px;
  color: grey;
}
