body {
  font-family: 'Roboto', sans-serif;
  color: black;
  max-width: 1920px;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 300px;
}

.burger {
  display: none;
}

.header {
  margin: 25px 90px;
  width: 100%;
  max-width: 1770px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .logo {
  width: 40px;
}

.header .header__inner .nav {
  font-size: 16px;
  margin-left: 200px;
}

.header .header__inner .nav .nav__link {
  font-family: 'Roboto', sans-serif;
  margin: 0 20px;
  color: #FFFFFF;
  text-decoration: none;
  opacity: .8;
}

.header .header__inner .login {
  width: 183px;
  height: 44px;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.header .header__inner .login:hover {
  background: linear-gradient(94.26deg, #905fc9 9.51%, #4734c2 90.23%);
}

.intro {
  width: 100%;
  height: 883px;
  background: url(../images/main-screen__bgc.png);
  background-size: cover;
  padding-top: 100px;
}

.intro .intro__inner {
  color: #FFFFFF;
  width: 100%;
  max-height: 360px;
  padding: 200px 300px;
}

.intro .intro__inner h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 89px;
  width: 100%;
}

.intro .intro__inner .intro__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .intro__inner .intro__box .box__second:first-child {
  margin-left: 0;
}

.intro .intro__inner .intro__box .box__second:last-child {
  margin-right: 0;
}

.intro .intro__inner .intro__box .box__second {
  padding: 25px 40px 15px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  background: #121212;
}

.intro .intro__inner .intro__box .box__second span {
  font-size: 36px;
  font-weight: 700;
}

.intro .intro__inner .intro__box .box__second p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24px;
  opacity: .6;
}

.intro__footer {
  background: #121212;
  width: 100%;
}

.intro__footer .container {
  margin: 0 300px;
}

.intro__footer .container .intro__footer__inner {
  color: white;
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__footer .container .intro__footer__inner .order {
  color: white;
  width: 169px;
  height: 44px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.intro__footer .container .intro__footer__inner .students {
  width: 251px;
  height: 58px;
}

.intro__footer .container .intro__footer__inner .students .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  color: grey;
}

.intro__footer .container .intro__footer__inner .students .statistics .number {
  color: white;
}

.intro__footer .container .intro__footer__inner .students .statistics .number2 {
  color: white;
}

.intro__footer .container .intro__footer__inner .results {
  width: 714px;
  height: 67px;
  color: grey;
}

.intro__footer .container .intro__footer__inner .results .results__count {
  color: white;
  padding-left: 30px;
}

.intro__footer .container .intro__footer__inner .results p {
  margin-top: 0;
}

.intro__footer .container .intro__footer__inner .results .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 6px solid white;
  padding-top: 10px;
  position: relative;
}

.intro__footer .container .intro__footer__inner .results .count:before {
  content: "";
  position: absolute;
  width: 440px;
  height: 6px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  left: 0;
  top: -6px;
}

.about {
  width: 100%;
  background: #000000;
  height: 1000px;
}

.about .container {
  padding-top: 300px;
}

.about .container .about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 100%;
  max-width: 1320px;
  height: 580px;
}

.about .container .about__inner .square {
  position: relative;
  width: 500px;
  height: 520px;
  border: 30px solid #C89AFC;
}

.about .container .about__inner .square img {
  width: 426px;
  height: auto;
  position: absolute;
  top: 25%;
  left: 10px;
  z-index: 2;
}

.about .container .about__inner .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 630px;
  height: 340px;
}

.about .container .about__inner .about__info h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 70px;
}

.about .container .about__inner .about__info .about__text {
  line-height: 1.4;
  font-size: 16px;
}
